{% extends 'd2_api/base.html' %}

{% block content %}

  <h3>Forms without the paperwork</h3>
  <p>You don't have to add users by filling in form data by hand. You can bind data to the form programmatically. See <i>views.automatic</i> for the details.</p>

  <p>To insert members from a list of seven usernames, just click the button below. Note that both the automatic and manual methods use <i>utils.add_user</i> to add the form data to the database. The only difference is how the form is bound. Note I purposely have left it so you can enter the same user multiple times: this is <i>not</i> how you would want things IRL.</p>

  <p>Obviously, this this programmatic data entry is the kind of thing you would want to do in the background using <i>cron</i> or <a href = "http://www.celeryproject.org/">celery</a>. This project is only meant to show the types of tasks you would automate, but the automation itself (for instance updating a clan list) is left out for now because I don't know how to do it yet.</p>

  <form action = "{% url 'd2_api:automatic' %}" method = "POST">
    {% csrf_token %}
    <button type = "submit">Add users</button>
  </form>


{% endblock %}
