{% extends 'd2_api/base.html' %}
{% load static %}

{% block header %}
<div class="jumbotron">
  <h2>Restit</h2>
  <p>
    Using Django forms to consume data from a RESTful api
  </p>
</div>


{% endblock header %}

{% block content %}
  A simple example of how to use forms to pull data from the Destiny 2 api into a django project. To submit a username, which initiates the process, go to <a href = "{% url 'd2_api:submit' %}">Submit page</a>. The list of all users in the database is on the <a href ="{% url 'd2_api:users' %}">User's page</a>. Source code is at <a href = "https://github.com/cortical-iv/restit">Github</a>. Note right now it is just pulling data from PS4 users.

  <h3>Why use forms?</h3>
  <a href = "https://www.twoscoopspress.com/products/two-scoops-of-django-1-11" target="_blank">
   <img src = "{% static 'images/twoscoops.png' %}" style="width:207px; height:256px;float:right">
 </a>
  <p>
   Pulling data into your database using forms is considered part of django best practices. In Two Scoops of Django, in the section <i>Validate All Incoming Data with Django Forms</i>, they say:
         <blockquote>
           Django's forms are a wonderful framework designed to validate Python dictionaries. While most of the time we use them to validate incoming HTTP requets containing POST, there is nothing limiting them to be used just in this manner...What's really nice about this practice is that rather than cooking up our own validation system for incoming data, we're using the well-proven data testing fremwork built into Django.
       </blockquote>
  </p>

  <p>There are a few reasons using forms to build your database is useful:</p>
    <ol>
        <li><b>Portability.</b> When you use the built-in django methods for validating/saving to a database, it should work no matter what kind of db you have configered (sqlite, postgres, etc). Django's methods abstract away from such details.</li>

        <li><b>Great built-ins.</b> There are excellent built-in methods for validating the data in a form (<i>form.is_valid()</i>), and saving it to your database (<i>form.save())</i>). The validation method returns pre-formatted error messages if it doesn't work. This relieves you of having to maintain complex validation code.</li>

        <li><b>Code simplicity and readability.</b> Because you are pulling in data using well-known modules, there is no mystery for folks about how to build the database.</li>

        <li><b>Security</b>. Because so many people work on these frameworks and obsess about keeping their apps secure, there is much less room for foul play like injection attacks. You are relying on extremely well-vetted methods when interacting with your database.</li>

        <li><b>No more fighting with 'legacy' databases.</b> There is no need to figure out how to integrate a pre-existing database into your django project: <i>everything</i> is part of your django project from the start. No more wrangling with <i>inspectdb</i> (or <a href = "https://docs.djangoproject.com/en/1.11/howto/legacy-databases/">other tricks</a>). The book Django Unleashed says:
          <blockquote>
            Developers should not start a project by defining a database schema and then trying to mirror their schema in Django. This goes against the Django philosopohy: don't fight the framework! Start with an outline of your desired data, create it declaratively in Django, and then let Django do the work of creating a database.
          </blockquote></li>
    </ol>

    <p>
    Caveat: <i>There is no free lunch</i>. The cost of having all this integrated into the project is that your project will be more complicated than if you just yank in a database made elsewhere. You may also lose some of the modularity gained from rolling your own database in a standalone module. Frankly, these minor costs seems worth the above benefits. Django is an extremely popular framework that has been through many design cycles in the Crucible, so I'd rather just lean on their  methods than cook my own.
  </p>

<hr>
<h3>How to?</h3>
<p>
  When you submit a user-name, it will trigger the request at Bungie for that player's information. If the user exists, a helper function (<i>utils.save_user()</i>)  binds the data to a form that represents the User model class (forms.SubmitUser), and then adds that data to the database if the data are valid.
</p>

<p>
  The class representing the form is simple to make when you use ModelForms.
</p>

<pre>
  class SubmitUser(forms.ModelForm):
      class Meta:
          model = User
          fields = ['display_name', 'user_id']
</pre>

<p>
  The key lines of code from <i>utils.add_user</i>:
</p>

<pre>
  user_data = {'display_name': player_search_response[0]['displayName'],\
               'user_id': player_search_response[0]['membershipId']}
  submit_user_form = SubmitUser(user_data) #binding data to form
  #Validate and save data
  if submit_user_form.is_valid():
      submit_user_form.save() #save data to database
</pre>

<p>
  After getting data from the api, you fill a dictionary that corresponds to the fields of the model and put it in <i>user_data</i>, and then bind this data to the form in the second line. Finally, you use the built-in validation and save methods. That's it! You have pulled in your data via a form by feeding it a dictionary with the required data. Once a form is bound with  data, it doesn't matter how it got bound: just go ahead and use the standard methods.
</p>

<hr>
<h3>Forms irl</h3>
<p>
  This example is simplistic: you typically wouldn't have a user enter data by hand to get this process started (note the form for submitting the user's name is not the same as the one that includes all the user's information: it is just a trick to get things going). In real life you could get a list of user names from <a href = "https://bungie-net.github.io/multi/operation_get_GroupV2-GetMembersOfGroup.html">GetMembersOfGroup</a>, and then run something like the above on each member of that list. Then, to automate this update, use cron or celery.
</p>



{% endblock %}
