{% extends 'd2_api/base.html' %}
{% load bootstrap3 %}

{% block header %}
  <h2>Submit a new user</h2>
{% endblock header %}


{% block content %}
  <p>Clicking the button sends a candidate name to the view, triggering the process of accessing bungie to extract data about the user and inserting this data into a form for capturing user data. Note the form below is simply to get data to start the process: it is not what is submitted to the database. Any messages about the status of a search will be shown below.</p>

  <form action = "{% url 'd2_api:submit' %}" method = 'post' class="form">
    {% csrf_token %}
    {% bootstrap_form submit_name_form %}

    {% buttons %}
        <button type = "submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}
  </form>

<hr>
<h3>Status</h3>
  {% if messages %}
      {% for message in messages %}
        {{message}}
      {% endfor %}
  {% else %}
    <small><i>Waiting for username.</i></small>
  {% endif %}

{% endblock %}
